:root{
    margin: 0;
    padding: 0;
}

.container{
    margin: auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(15, 10, 10);
}

.box{
    background-color: rgb(28, 27, 27);
    border-radius: 5px;
    height: 30vh;
    width: 99%;
    margin: auto;
    display: flex;
    align-items: center;
}

.thumbnail{
    border: 2px solid black;
    height: 95%;
    width: 25vw;
    position: relative;
    left:3px
}
.thumbnail>img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit:cover;
}
.duration{
    position:relative;
    background-color: black;
    color: white;
    left: 75%;
    bottom: 15%;
    width: 2.8rem;
   font-size: 1.2rem;
}
.discription{
    position: relative;
    left: 10px;
    height: 95%;
}
.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    padding-bottom: 20px;
    color: aliceblue;
}
.ctext{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    color: rgb(218, 219, 220);
}





